@import '../../components/layout/mixins.css';

.collections-page {

  &__actions {
    margin-bottom: 15px;
  }

  &__box {
    @mixin box-style;
    @mixin box-shadow;
    &:hover {
      box-shadow: none;
      margin: -2px;
      padding: 2px;
    }
  }

  &__card {
    position: relative;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);

    &:hover {
      box-shadow: none;
    }

    & span {
      display: block;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px;
    }

    &-image {
      width: 128px;
      height: 128px;
      margin: 10px 0;
    }

    &-description {
      text-align: center;
      margin-bottom: 16px;
    }

    &-words-count {
      margin-bottom: 16px;
    }

    &-author {
      margin-bottom: 16px;
    }
  }
}
