@import 'variables.css';

@define-mixin box-style $width: auto, $height: auto, $border-radius: 8px {
  position: relative;
  min-width: $width;
  border-radius: $border-radius;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
      0deg,
      transparent,
      var(--primary),
      var(--primary)
    );
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }

  &::before {
    animation-delay: -3s;
  }
}

@define-mixin spinner $width, $height {
  @mixin box-style $width, $height, 50%;

  &::before,
  &::after {
    animation: animate 2s linear infinite;
  }

  &::before {
    animation-delay: -1s;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@define-mixin form-style {
  &__form {
    position: relative;
    margin: 2px;
    border-radius: 8px;
    z-index: 1;
    background: var(--surface);
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__form-title {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
  }

  &__form-item {
    margin: 0;
  }

  &__form-item + &__form-item {
    margin-top: 14px;
  }

  &__form-alert {
    margin: 15px 0 15px;
  }

  &__form-items {
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;
    width: 100%;
    column-gap: 10px;
    row-gap: 1px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__form-divider {
    grid-column: span 1;
    @media screen and (min-width: 768px) {
      grid-column: span 2;
    }
  }

  &__form-item {
    margin: 0;

  }

  &__form-item-input-number {
    width: 100%;
  }

  &__form-alert {
    margin: 15px 0;
  }

  &__form-submit-button {
    margin: 32px 0 0;
    width: 100%;
  }
}

@define-mixin box-shadow $color: var(--primary){
  box-shadow: 0 0 4px $color, 0 0 1px $color;
}

@define-mixin responsive-box $maxWidth: 400px, $padding: 20px{

  margin: 15px auto;
  width: 90%;
  max-width: $maxWidth;
  padding: $padding;

  @media screen and (min-width: 576px) {
    width: 80%;
  }

  @media screen and (min-width: 768px) {
    width: 70%;
  }

  @media screen and (min-width: 992px) {
    width: 60%;
  }

  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
