.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  height: calc(100vh - 100px);

  &__text {
    color: white;
    font-size: 30px;
    line-height: 25px;
    margin: 0 0 30px;
  }
}
