.features {

    &__custom-card {
        margin-top: 20px;
        width: 100%;
        min-height: 150px;
        color: var(--onSurface);
        font-size: 1rem;
        text-align: center;
        border-color: var(--primarySpecial);
    }

}
