@define-mixin train-input-style $color {
  color: $color;
  display: block;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  @mixin input-background;

  @mixin border-style $color;
  box-shadow: 0 0 10px var(--primary), 0 0 1px var(--primary); /* Add glow */

  &:focus {
    @mixin border-style $color;
    box-shadow: 0 0 10px var(--primary), 0 0 1px var(--primary);
  }
  &:hover {
    @mixin border-style $color;
    box-shadow: 0 0 10px var(--primary), 0 0 1px var(--primary);
  }

  &::placeholder {
    color: $color;
    opacity: 0.2;
    text-transform: uppercase;
    text-align: center;
    font-size: inherit;
  }
}

@define-mixin border-style $color {
  border-color: $color;
  border-bottom: 0px solid $color;
  border-radius: 0;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;

  &:focus {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  }
  &:hover {
    border-color: $color;
  }
}

@define-mixin disabled-style $color {
  &:disabled {
    font-size: inherit;
    color: $color;
    opacity: 0.7;
    cursor: not-allowed;
    @mixin border-style $color;
    box-shadow: 0 0 10px var(--primary), 0 0 1px var(--primary); /* Add glow */
    @mixin input-background;
  }
}

@define-mixin input-background {
  background: linear-gradient(
    to right,
    var(--backgroundSpecial),
    var(--background) 50%,
    var(--backgroundSpecial)
  );
}
