@import "./mixins.css";

.train-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px);
  font-size: 2.5rem;

  &__text {
    font-size: 1.5rem;
    line-height: 25px;
    margin: 0 0 30px;
  }

  &__train-input {
    @mixin train-input-style #45f3ff;
  }

}

.correct {
  @mixin disabled-style springgreen;
}

.incorrect {
  @mixin disabled-style red;
}

