.train-page {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 72px);

  &__text {
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 30px;
  }
}

.correct {
  border: 2px solid green;
  transition: border-color 0.3s ease;

  &:focus {
    transform: scale(1.05);
  }
}

.incorrect {
  border: 2px solid red;
  transition: border-color 0.3s ease;

  &:focus {
    transform: scale(0.95);
  }
}

