@import "./mixins.css";

.train-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px);
  font-size: 2.5rem;

  &__text {
    font-size: 1.5rem;
    line-height: 25px;
    margin: 0 0 30px;
  }

  &__train-input {
    @mixin train-input-style #45f3ff;
  }

}

.correct {
  @mixin disabled-style springgreen;
}

.incorrect {
  @mixin disabled-style red;
}


.countdown {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.block {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 2px;
}

.active-color {
  background-color: #45f3ff;
  opacity: 0.5;
}

.inactive-color {
  background-color: grey;
}







